<script type="text/template" id="logList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Fecha</th>
                 <th>Producto</th>
		 <th>Cantidad</th>
		 <th>Bodega</th>
		 <th>Tipo de movimiento</th>
		 <th>Justificación</th>
		 
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(logs, function(log) { %>
    <tr>
		<td><%= htmlEncode(log.getDisplay('name')) %></td>
                <td><%= htmlEncode(log.getDisplay('productoId')) %></td>
		<td><%= htmlEncode(log.getDisplay('cantidad')) %></td>
		<td><%= htmlEncode(log.getDisplay('bodegaId')) %></td>
		<td><%= htmlEncode(log.getDisplay('entra')) %></td>
		<td id="<%= htmlEncode(log.getDisplay('justificacion')) %>"><%= htmlEncode(log.getDisplay('justificacion')) %></td>
		
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-log-edit',{id:<%= log.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-log-delete',{id:<%= log.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="log">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-logForm">
    <% if(log.id) {%>
    <input type="hidden" name="id" value="<%= log.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Fecha</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= log.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="cantidad">Cantidad</label>
    	<input type="text" class="form-control" id="cantidad" name="cantidad" placeholder="Enter value" value="<%= log.get('cantidad') %>"/>	
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="entra" name="entra" value="true" type="checkbox" <%= log.get('entra')?'checked':'' %>> Tipo de movimiento
    	</label>
		</div>
		<div class="form-group" >
		<label for="justificacion">Justificación</label>
    	<input type="text" class="form-control" id="justificacion" name="justificacion" placeholder="Enter value" value="<%= log.get('justificacion') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="bodegaidId">Bodega</label> 
            <select class="form-control" id="bodegaId" name="bodegaId">
			  <option value="">None</option>
            <% bodega.each(function(bodegaid) { %> 
              <option value="<%=bodegaid.get('id')%>" <% if(log.get('bodegaId')==bodegaid.get('id')) {%>selected<%}%> ><%=bodegaid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
		<div class="form-group" >
 
			<label for="productoidId">Producto</label> 
            <select class="form-control" id="productoId" name="productoId">
			  <option value="">None</option>
            <% producto.each(function(productoid) { %> 
              <option value="<%=productoid.get('id')%>" <% if(log.get('productoId')==productoid.get('id')) {%>selected<%}%> ><%=productoid.get('name')%>" "<%=productoid.get('talla')%> </option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 